
<link href="~/Vendor/jquery-ui/themes/blitzer/jquery-ui.css" rel="stylesheet" />
<div class="normalheader ">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li class="active">
                        <span>Manage Fuel Price </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Manage Fuel Price
            </h2>
            <small>Manage Fuel Price</small>
        </div>
    </div>
</div>

<div class="content">

    @Html.Partial("_FuelDetails")

    @Html.Partial("_DieselDetails")

    @Html.Partial("_GasolineDetails")


</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtDate").datepicker({
            });
            $('.numeric').keypress(function (e) {
                var regex = new RegExp("^[a-zA-Z0-9-]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }

                e.preventDefault();
                return false;
            });
        });
    </script>
}